*,cover
*.egg
*.egg-info/
*.ipynb
*.pyc
*.pyo
.DS_Store
.cache/
.coverage
.coverage.*
.env
.flaskenv
.idea/
.ipynb_checkpoints
.pytest_cache/
.tox/
.vscode
_mailinglist
build/
dist/
docs/_build/
env*
env/
htmlcov/
venv/
